
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489113369975'); /* IE9*/
  src: url('iconfont.eot?t=1489113369975#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489113369975') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489113369975') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489113369975#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e60a"; }

.icon-phone:before { content: "\e640"; }

.icon-weixin1:before { content: "\e603"; }

.icon-unie61d:before { content: "\e60b"; }

.icon-infenicon07:before { content: "\e7a5"; }

.icon-weizhi:before { content: "\e634"; }

.icon-jujiariyong:before { content: "\e625"; }

.icon-telephone:before { content: "\e645"; }

.icon-icon052:before { content: "\e63e"; }

.icon-jiajujiafang:before { content: "\e60c"; }

.icon-iconfontqq2:before { content: "\e655"; }

.icon-taobao:before { content: "\e628"; }

.icon-meizhuang:before { content: "\e669"; }

.icon-SER:before { content: "\e617"; }

.icon-gouwudai:before { content: "\e612"; }

.icon-nanzhuang01:before { content: "\e602"; }

.icon-shouye-gouwuche:before { content: "\f02ef"; }

.icon-xiangji:before { content: "\f02f1"; }

.icon-dajiadian:before { content: "\f02f3"; }

.icon-fenxiang:before { content: "\f02ff"; }

